/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #5f3d3d !important;
}
ul {
  list-style-type: none;
}
// CONTAINER
.container {
  margin: 0 auto;
  max-width: 1140px;
}
//PAGE
.page {
  margin-top: 5rem;
}

// NAVBAR
.navbar {
  width: 100%;
  padding: 5px 0;
  h2 {
    margin-bottom: 0;
  }
  &__link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #222;
    font-weight: 600;
    padding: 0.5rem 1rem;
    &--home {
      background-color: #e5e3e3;
      border-left: 2px solid #222;
      border-right: 2px solid #222;
      padding: 0.5rem 2rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: -14px;
        left: 50%;
        transform: translateX(-50%) rotate(-45deg);

        border: 15px solid black;
        border-color: transparent transparent #e5e3e3 #e5e3e3;

        box-shadow: -2px 2px 0px #222;
      }
    }
    &:hover {
      color: #222;
    }
  }
  &__container,
  &__user,
  &__logo {
    display: flex;
    align-items: center;
  }
  &__container {
    position: relative;
    margin: 0 auto;
    max-width: 1140px;
    border: 2px solid #222;
    justify-content: space-between;
    background-color: #fff;
  }
  &__logo {
  }
  &__logoimg {
    width: 100px;
    height: 52px;
    background-color: rgba(128, 128, 128, 0.37);
    @include breakpoint(mobileonly) {
      display: none;
    }
  }
  &__img {
    width: 100px;
    height: 100%;
    display: block;
  }
  &__home {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__user {
    img {
      width: 50px;
      display: inline-block;
      border-left: 2px solid #222;
      border-right: 2px solid #222;
    }
    &--name {
      @include breakpoint(mobileonly) {
        display: none;
      }
    }
  }
}

//POST
.postlist {
  margin-top: 4rem;
  padding-bottom: 4rem;
  &__order {
    text-align: center;
  }
}
.post {
  // padding: 1rem;
  // margin-bottom: 2rem;
  // box-shadow: 0px 3px 3px rgba($color: #000000, $alpha: 0.4);
  // background-color: #fff;

  &__item {
    background-color: #fff;
  }
  &__title {
    display: block;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 2px;
  }
  &__content {
    letter-spacing: 1px;
    line-height: 2;
    padding-top: 2rem;
  }
  &__label {
    font-weight: 600;
    padding-right: 1rem;
  }
  &__link {
    text-decoration: none;
    color: #222;
    font-weight: 600;
  }
  // &__info {
  //   display: flex;
  //   align-items: center;
  //   h2 {
  //     margin-bottom: 0;
  //   }
  // }
}
