.homepage {
    max-width: 1140px;
    margin: auto;
    padding-bottom: 50px;
    .ant-pagination-options {
        display: none !important;
    }
    .ant-pagination {
        text-align: center;
    }
}
