.PostHome {
    border-bottom: 2px solid rgb(35, 177, 177);
    padding-bottom: 30px;
}

.PostHome h3 {
    text-align: center;
    text-transform: capitalize;
}

.PostHome a:hover {
    text-decoration: none;
    color: #1a446b;
}

.CommentsSection {
    margin-top: 50px;
}

.CommentsSummary {
    display: flex;
    border-bottom: 1px solid rgb(179, 179, 179);
    align-items: center;
    justify-content: space-between;
}

.CommentsSummary > * {
    margin: 0;
    border: none;
    background: transparent;
    font-weight: bold;
}

button.SeeAllToggler:hover {
    color: #3e91df
}

div.AllComments {
    margin-top: 20px;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease-in;
    overflow: hidden;
}

div.AllComments.show {
    opacity: 1;
    height: auto;
}