.PostHome {
    border-bottom: 2px solid rgb(35, 177, 177);
}

.PostHome a:hover {
    text-decoration: none;
    color: #1a446b;
}


.CommentsSummary {
    border-bottom: 1px solid rgb(179, 179, 179);
}

.CommentsSummary > * {
    margin: 0;
    border: none;
    background: transparent;
    font-weight: bold;
}

button.SeeAllToggler:hover {
    color: #3e91df
}

div.AllComments {
    margin-top: 20px;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease-in;
    overflow: hidden;
}

div.AllComments.show {
    opacity: 1;
    height: auto;
}