<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid text-center">
    <div class="row"></div>
    <div class="col-2">
      Logo
    </div>
    <h1 class="col">
      Blogs
    </h1>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="col-1">
      Adam Levine
    </div>
  </div>

</nav>