.app-container {
  margin: 5px;
  padding-top: 5px;
  .navbar-content {
    height: 100%;
    font-size: 2rem;
  }

  .App {
    .container-fluid {
      margin: 0 auto;
      width: 75vw;
    }
  }
}
