{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@common": "./common",
          "@configs": "./configs",
          "@dto": "./dto",
          "@modules": "./modules",
          "@schemas": "./schemas"
        }
      }
    ]
  ]
}
