<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%- title %></title>
    <link rel="stylesheet" href="libraries/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/global.css">
  </head>
  <body class="bg-dark">
    <input type="hidden" id="verify-site"
    data-authencation="<%- authencation %>"
    data-user="<%- user %>"/>

    <div id="header_navigation"></div>

    <!-- We will put our React component inside this div. -->
    <!-- <div id="like_button_container"></div> -->

    <!-- Load libraries -->
    <script src="libraries/jquery/jquery-3.4.1.js"></script>
    <script src="libraries/proper/popper.min.js"></script>
    <script src="libraries/bootstrap/js/bootstrap.js"></script>

    <!-- Load JS -->
    <script src="javascripts/common.js"></script>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="libraries/reactjs/react.development.js" crossorigin></script>
    <script src="libraries/reactjs/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <!-- <script src="components/test/like_button.js"></script> -->
    <script src="components/init.js"></script>
    <script src="components/header/navigation.js"></script>

    <%- body %>

  </body>
</html>