.expand-comment {
    overflow: hidden;
    /* max-height: 0; */
    transition: max-height 0.2s;
    font-family: sans-serif;
    background-color: #fff;
}

.logo {
    width: 45px; 
    height: 45px;
  }