.blogs_tab {
  position: relative;
  background: #e6e6e6;
  border-left: 3px solid black;
  border-right: 3px solid black;
  z-index: 20;
}

.triangle {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background-color: #e6e6e6;
  width: 46px;
  height: 22px;
  position: absolute;
  z-index: 10;
  bottom: -52%;
  left: 40.75%;
  /* left: 180px; */
}

.triangle_border {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background-color: rgb(28, 28, 28);
  width: 52px;
  height: 25px;
  position: absolute;
  bottom: -59%;
  left: 40%;
}

.custom_text {
  text-align: left !important;
  margin-bottom: 0;
}
