.search-post{
  width: 100%;
  .search-post__title{
    color: var(--text-color);
    font-size: 28px;
    font-weight: 700;

    .search-post__keyword{
      color: var(--text-color);
      font-size: 30px;
      opacity: 0.7;
      font-style: italic;
    }
  }

  .ant-divider{
    background-color: var(--text-color);
  }

  .no-post{
    color: var(--text-color);
    font-size: 32px;
  }
}