.header__sticky {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04),
    0 0 1px rgba(0, 0, 0, 0.04);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  background-color: #fff;
  padding: 0 64px;
  height: var(--height-header);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
}
