.full-screen {
  width: 100%;
  height: 100%;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.font-medium {
  font-size: 1rem;
}

.font-big {
  font-size: 2rem;
}

.font-small {
  font-size: 0.5rem;
}

.color-white {
  color: #fff;
}

#header_navigation {
  border-bottom: 1px solid gray;
  margin-bottom: 50px;
}

.list-group {
  margin-top: 20px;
}

.quill-add {
  height: 400px;
  margin-bottom: 20px;
}
