.comment-item {
    &__left {
        flex: 0 1;
        &--avatar {
            img {
                width: 50px;
            }
        }
    }
    &__right {
        &--user-info {
            flex-direction: row;
            align-items: baseline;
            margin-top: 0.5rem;
            span {
                width: auto;
            }
        }
        &--user-name {
            font-size: 0.975rem;
            font-weight: 500;
            color: #898989;
            margin-right: 10px;
        }
        &--timing {
            font-size: 0.9rem;
            font-weight: 400;
            color: #b1b1b1;
        }
        &--description {
            margin-top: 1rem;
            .content {
                color: #6b6b6b;
            }
        }
        .btn {
            &__color {
                font-size: 0.975rem;
            }
            &__size {
                color: #b1b1b1;
                font-weight: 500;
                padding: 0.375rem 0.75rem 0.375rem 0;
            }
        }
    }
}
