.zigvyContainer {
    position: relative;
    background-color: var(--main-bg-color);
    padding-inline: 10vw;
    width: 100%;
    transition: padding-inline .4s ease-in-out;
}

@media (max-width: 1350px) {
    .zigvyContainer {
        padding-inline: 5vw;
    }
}

@media (max-width: 1200px) {
    .zigvyContainer {
        padding-inline: 0;
    }
}