.tag {
	padding: 0.5rem;
	margin-left: 0.5rem;
	border-radius: 0.2rem;
	// &:nth-child(odd) {
	// 	background-color: lightskyblue;
	// }
	// &:nth-child(even) {
	// 	background-color: lightpink;
	// }
}
