body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Width */
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;

  /* Color */
  --color-grey-100: #e6e6e6;
  --color-grey-200: #606060
}

p {
  color: black;
}

/* GENERAL STYLE */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-ms);
  }
}
