.wrapper {
  border-top: 1px solid #ccc;
  padding: 20px 0;
  margin-top: 20px;
}

.introduce {
  text-align: center;
  font-size: 14px;
}

.github {
  &:hover {
    text-decoration: underline;
  }
}
