$global-link-color: #DA7D02;
$navbar-nav-item-color: #fff;
$light-green: rgba(0, 48, 135, 0.91);
$medium-green: #1C3F97;
$dark-green: #003087;
$global-font-family: 'Open Sans', sans-serif;
$navbar-background: linear-gradient(to left, $light-green, $dark-green);
$navbar-nav-item-active-color: #FFB81C;
$navbar-nav-item-hover-color: #FFB81C;
