.header {
    .nav-logo {
        display: flex;
        padding: 0;
        border: 2px solid black;
        .img-logo {
            margin-right: 1rem;
            width: 20%;
            background-color: #d9d9d9;
            img {
                max-width: 100%;
            }
        }
    }
    .nav-blog {
        border: 2px solid black;
        background-color: #d9d9d9;
        border-left: none;
        text-align: center;
        position: relative;
        .inner {
            &:after {
                content: "";
                width: 12px;
                height: 12px;
                transform: rotate(-45deg);
                background: #d9d9d9;
                position: absolute;
                left: calc(50% - 6px);
                border-bottom: 2px solid black;
                border-left: 2px solid black;
                bottom: -8px;
            }
        }
        
          
          
    }
    .nav-avatar {
        border: 2px solid black;
        border-left: none;
        display: flex;
        justify-content: flex-end;
        a {
            white-space: nowrap;
        }
        .img-logo {
            border-left: 2px solid black;
            border-right: 2px solid black;
            img {
                max-width: 40%;
            }
        }
    }
}