.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid black;
  font-size: 28px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}
.logo-img {
  background-color: #a9a9a9d0;
  height: 54px;
  width: 54px;
}

.logo-title {
  color: black;
}

.blogs {
  padding: 6px 42px;
  background-color: #a9a9a9d0;
  color: black;
  text-decoration: none;
  margin-left: 100px;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-right: 24px;
}

.user-img {
  height: 54px;
  width: 54px;
  border: 3px solid grey;
}
.nav-blogs {
  height: 30px;
}
