.postContent {
    text-align: justify;
    line-height: 2rem;
    color: purple
}

h2 {
    text-transform: uppercase;
}

.postBack {
    text-decoration: none;
}

.infoPost {
    color: gray;
}