.pageWrapper {
  padding: 24px 50px;
}

.postItem {
  border-bottom: 1px solid #1e1e1e;
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
  .body {
    font-size: 18px;
  }
}