@import '../../../styles/variables.scss';

.header {
  width: 100%;
  height: 8rem;
  background-color: $color-header;
}

.header-container {
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  margin-bottom: 0;
}

.logo:link,
.logo:visited {
  color: $color-primary;
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 1.6rem;
}

.logo img {
  width: 5.2rem;
}

.logo p {
  font-size: 3.2rem;
  font-weight: 600;
}

.nav ul {
  list-style: none;
  display: flex;
}

.user {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.user img {
  border-radius: 50%;
  width: 5.2rem;
}

.user p {
  font-size: 2.4rem;
  font-weight: 500;
}
