.post-list {
    padding: 2vw;
}

.post-list_title {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.post-list_author {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.post-list_author_hashtag {
    max-width: 20%;
    margin: auto 0;
}

.comment_avatar {
    display: flex;
}

.comment_avatar img {
    width: 50px;
    height: 50px;
    padding: 0px 10px;
}

.comment_content {
    padding: 10px;
}

.comment_content p{
    margin: 0;
}