
    <div id="header">
        <!-- Begin Nav -->
        <ul id="nav">
          <% if(!currentUser) { %>
            <li><a  href="/auth/login"><i class="fa fa-sign-in"></i> Sign In</a></li>
            <li><a href="/auth/register"><i class="fa fa-user-plus"></i> Sign Up</a></li>
            <% } else { %>
              <li><a href="/auth/profile"><%=currentUser.username %></a></li>
              <li><a href="/blog">Post</a></li>
              <li><a class="nav-link " href="/auth/logout">Logout</a></li>
            <% } %>
        </ul>
        <!-- End Nav -->

        <!-- Begin Search -->
        <div class="row search-button">
            <div class="col search">
                
                <form class="row g-3" method="POST">
                    <div class="col logo">
                        <a href="/"><img src="/image/logo.png" style="width:200px;height: 60px;margin-top: -15px;"></a>
                     </div>
                    <div class="col"> 
                      <input type="text" name="textsearch" id="textsearch" class="form-control" autocomplete="false" placeholder="Search">
                    </div>
                    <div class="col">
                      <button type="submit" class="btn btn-primary mb-3">Search</button>
                    </div>
                  </form>
            </div>
          </div>
        
        
        <!-- End Search -->
    </div>
