.wrap-search {
    display: flex;
    justify-content: center;
    padding: 16px 0px;
}
.input-search {
    width: 50%;
}
.wrap-item-content {
    padding: 0 20px;
    background-color: white;
}
.post-title {
    font-size: 36px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
}
.wrap-info {
    display: flex;
    justify-content: space-around;
}
.item1 {
    font-weight: 500;
    font-size: 18px;
    flex: 1;
    margin-right: 20px;
}
.author {
    margin-bottom: 0px;
}
.item2 {
    margin-left: 20px;
    flex: 1;
}
.content {
    font-weight: 500;
    font-size: 18px;
}

.horizon-line-custom {
    height: 5px;
    background-color: black;
    opacity: 100;
}
.ant-collapse-header-text {
    // flex: none !important;
}
.footer {
    display: flex;
    justify-content: center;
}
// comment
.wrap-comment {
    display: flex;
    padding-bottom: 10px;
}
.wrap-avatar {
    padding: 0px 10px;
}
.wrap-name-time {
    display: flex;
}
.comment-user {
    font-weight: 600;
    color: #5e5858;
}
.comment-time {
    font-weight: 500;
    padding-left: 16px;
    color: #b0b0b0;
}
.content-comment {
    font-weight: 500;
    // display: block;
}
.btn-replies {
    font-weight: 600;
    color: #a9a9a9;
}
