.account {
  gap: 5px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  .account__icon {
    font-size: 40px;
  }

  .account__name {
    padding-top: 10px;
  }

  &:hover {
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid rgb(186, 186, 186);
    background-color: rgb(240, 240, 240);
  }
}