.comment {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    width: 100%;
    .right {
        display: flex;
        flex-direction: column;
        flex: 1;
        .name {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            .timestamp {
                color: gray;
            }
        }
        .btn-reply {
            cursor: pointer;
            color: gray;
        }
    }
}
