.center {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.container {
  border-color: black;
  border-width: 1px;
  align-items: center;
  justify-content: center;
}
