<div class="mt-4">
    <h4>Đăng bài viết</h4>
    <form method="POST" action="/posts/store">
        <div class="form-group">
            <label for="title">Tên bài viết</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="body">Mô tả</label>
            <input type="text" class="form-control" id="body" name="body">
        </div>
        <button type="submit" class="btn btn-primary">Đăng bài viết</button>
    </form>
</div>