<div class="mt-4">
    <h4>Bài viết của tôi</h4>
    <form method="POST" action="/posts/{{posts._id}}/?_method=PUT">
        <div class="form-group">
            <label for="title">Tên bài viết</label>
            <input type="text" class="form-control" value="{{posts.title}}" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="body">Mô tả</label>
            <textarea class="form-control" id="body" name="body">{{posts.body}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>