body{
   min-height: 100vh;
   background-image: linear-gradient(to bottom right, #efa2b4, #aef1ee );
   overflow-x: hidden;
   padding: 5vh 10px;
}
body::before{
   content: '';
   position: fixed;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: #cddc39;
   z-index: -1;
   opacity: 0.12;
   
}