@import "~antd/dist/antd.css";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.text-center {
	text-align: center;
}

.description {
	color: #646464;
}

.cur {
	cursor: pointer;
}

//custom antD css
.ant-layout {
	background-color: #ffffff;
}

.ant-list-split.ant-list-something-after-last-item {
	.ant-spin-container > .ant-list-items > .ant-list-item:last-child {
		border-bottom: none;
	}
}
