# Ignore node_modules directory
node_modules/

# Ignore built output
dist/


# Ignore environment variables file (if applicable)
# .env

# Ignore Visual Studio Code
.vscode/

# Ignore IntelliJ IDEA
.idea/