.ant-collapse-header-text {
    // flex: none !important;
}
// comment
.wrap-comment {
    display: flex;
}
.wrap-avatar {
    padding: 0px 10px;
}
.wrap-name-time {
    display: flex;
}
.comment-user {
    font-weight: 600;
    color: #5e5858;
}
.comment-time {
    font-weight: 500;
    padding-left: 16px;
    color: #b0b0b0;
}
.content-comment {
    font-weight: 500;
    // display: block;
}
.btn-replies {
    font-weight: 600;
    color: #a9a9a9;
}
