.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blog{
  border: 3px solid black;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    margin-left: 20%;
    background: #d7d5d5;
    border-left: none;
    border-top: none;
    margin-top: -1%;
}
.comment {
  font-size: smaller;
  font-weight: 500;
  color: #b7b2b2;
  /* color: blue; */
  /* display: flex; */
  /* align-items: center; */
  margin-top: 2%;
}