.wrapper {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.nav {
  width: var(--app-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}
