.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.title-user p{
  color: black;
}
.tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
}

.tag p {
  background-color: #eee;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  color: black;
}

.content p{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: black;
}
