@mixin absoluteCenter($direction: "left") {
    position: absolute;

    @if $direction == "left" {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    @if $direction == "top" {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    @if $direction == "both" {
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

@mixin flexBox($direction: row , $justifyContent: flex-start , $alignItems: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}
