@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@500&display=swap');

$fontFamily: 'STIX Two Text', sans-serif;
$backgroundLoginColor: rgba(254,239,235,255);
$backgroundButtonColor: rgba(205,132,92,255);
$backgroundHomeColor: rgba(250,250,250,255);
$backgroundLinkColor:rgba(194,127,90,255);
$backgroundGreen: rgba(55,152,65,255);
$backgroundRed: rgba(242,45,45,255);
$textBlur: rgba(0,0,0,0.5);